body {
    margin: 0;
    font-family: 'Garamond', sans-serif;
    background-image: url('https://static.wixstatic.com/media/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg/v1/fill/w_1130,h_600,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px; /* Puedes ajustar el tamaño según tus necesidades */
    margin-right: 0px;     
}

nav {
    background-color: #041d5a;
    padding: 15px 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

a:hover {
    color: #175780;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #041d5a;
    min-width: 150px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.grande {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.feature {
    flex: 1;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.feature img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.content {
    padding: 20px;
}

.content h2 {
    color: #041d5a;
    margin-bottom: 10px;
}

.carrusel {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.carrusel h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.carrusel p {
    font-size: 18px;
}

.separador {
    height: 30px;
    background-size: cover;
}



.sponsors {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.sponsors h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.carrusel-imagenes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.carrusel-imagenes img {
    max-width: 100%;
    max-height: 100px;
    margin: 10px;
    border: 1px solid #05365598;
    border-radius: 5px; 
    transition: transform 0.3s ease-in-out;
}

.carrusel-imagenes img:hover {
    transform: scale(1.1);
}

.contactanos {
    background-color: #082B40;
    color: white;
    padding: 20px;
    text-align: center;
}

.contactanos h1 {
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-info > div {
    flex: 1;
    margin: 0 10px;
}

.contact-info img {
    max-width: 100%;
    height: auto;
}

.contact-info div p {
    margin-bottom: 10px;
}